@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato";
  font-size: 19px;
  list-style: none;
  text-decoration: none;
  color: black;
}
:root {
  --main-color:  rgb(0, 74, 135);
  --color-nav: transparent;
  --color-content:  rgb(0, 74, 135);
  --pag-bm-color: #fff;
  --pag-bs-color: #f3f4f4;
  --font-color: #000;
  --font-white: #fff;
}
html {
  scroll-behavior: smooth; /* Activa el scroll suave */
}
body {
  background-color: var(--pag-bm-color);
}

.header-area {
  background-color: var(--color-nav);
  width: 100%;
  z-index: 999;
  padding: 12px 50px;
  border-bottom: rgba(233, 233, 233, 0.479);
}
.navigation-s {
  width: 100%;
  margin: auto;
  display: table;
}

.navigation-d {
  line-height: 19px;
  width: 100%;
  position: relative;
}

.logo-area {
  float: left;
  padding: 17px 0px;
  align-items: center;
  
}

.logo-area .logo {
  color: var(--font-color);
  padding: 15px;
  font-size: 20px;
  font-weight: 400px;
}

.logo-area span {
  font-size: 24px;
  font-weight: 900px;
  color:var(--main-color);

}

.mobile-nav {
  display: none;
}
/* BARRA DE NAVEGACIÓN */
#Layer_1 {
  width: 40px;
  line-height: 20px;
}
.nav {
  float: right;
}

.nav .items {
  display: inline-block;
  margin: 21px 5px;
}

.nav-list {
  justify-content: space-between;
  height: 60px;
  text-align: center;
}

.nav-list a {
  position: relative;
  width: 100%;
  color: var(--font-color);
  font-size: 100%;
  border-bottom: 2px solid transparent;
  margin-right: 30px;
  transition: all 0.1s ease;
}

/* Donar button */
.nav-list #back-donar {
  padding: 0;
  margin: 0;
  width: fit-content;
  height: fit-content;
  transition: all ease .3s;
}

#donar-text {
  color: var(--font-white);
  margin: 0;
  background-color: var(--color-content);
  line-height: 40px;
padding: 10px 28px;
  background-color: var(--color-content);
  border: 2PX solid var(--color-content);
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  font-size: 16px;
  color: var(--pag-bm-color);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: all ease .3s;
}

#donar-text:hover, #back-donar:HOVER {
  background-color: var(--pag-bm-color);
  color: var(--color-content);
  transform: translateY(-5px);
}
/* COLOR ACTIVO */
.nav-list a:hover {
  border-bottom: 2px solid var(--main-color);
  color:var(--main-color);
}

.nav-list #active {
  color:var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
/* NAV MOBILE RESPONSIVE */
.mobile-nav {
  float: right;
  margin: 10px;
  padding: 10px;
  font-size: 24px;
  color: var(--font-color);
  outline: none;
  cursor: pointer;
}
.mobile-nav i {
  color: #fff;
}

/* ----------HOME CONTENT------------- */

.home {
  width: 100%;
  height: 100VH;
  display: flex;
  align-items: center;
  padding: 50px 8% 0;
}

.information {
  max-width: 630px;
}

.information h1 {
  font-size: 58px;
  line-height: 1.2;
}

.information h3 {
  font-size: 40px;
  color:var(--main-color);
}

.information p {
  font-size: 16px;
  margin: 15px 0 30px;
}

/* Boton de menu en home */
#menu-button {
  display: inline-block;
  padding: 10px 28px;
  background-color: var(--color-content);
  border: 2PX solid var(--color-content);
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  font-size: 16px;
  color: var(--pag-bm-color);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  transition: all ease .3s;
}

#menu-button:hover {
  background-color: var(--pag-bm-color);
  color: var(--color-content);
  transform: translateY(-5px);
}

/* IMAGE STYLE */
#img-back {
  position: relative;
  width: 450px;
  height: 450px;
}

#img-b {
  position: relative;
}

/* -----SERVICIOS SECTION------- */
#content-servicios {
  display: block;
  padding: 50px 4%;
  height: 100vh;
  background-color: var(--pag-bs-color);
  align-items: center;
  justify-content: center;
}
.servicios {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

/* Tarjetas */
.card {
  flex: 0 0 calc(33.33% - 20px); /* Ancho del 33.33% y márgenes entre las cartas */
  background-color: transparent;
  border: 4px solid var(--pag-bm-color);
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  height: 60vh;
  margin-bottom: 20px;
  transition: all ease-in .15s;
}

.card:hover {
  background-color: var(--pag-bm-color);
}

.content-card {
  position: relative;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .nav {
    float: none;
    position: absolute;
    background: var(--color-nav);
    width: 100%;
    left: 0;
    top: 74px;
    padding: 30px 0px 150px 0px;
    clip-path: (0% at 100% 9%);
    transition: all 0.3s;
  }

  .nav-list li {
    display: block;
    text-align: center;
    margin: 25px 5px;
  }

a {
  width: 20px;
  height: 30px;
}

  .mobile-nav {
    display: block;
  }
  .mobile-menu {
    clip-path: circle(112% at 100% 0%);
  }

  .nav-list #active {
    border-bottom: none;
  }

  .nav-list li a,
  .nav-list li a:hover {
    border-bottom: none;
  }

  .nav-list li:hover {
    background-color: rgba(233, 233, 233, 0.377);
    height: 40%;
  }
}
